.App {
  text-align: center;
}
.page{
  height: 30px;
  background-color: aliceblue;
}
.page1{
  height: 100vh;
  background-color:lightskyblue;
}
.page2{
  height: 100vh;
  background-color:indianred;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
}
.page3{
  height: 100vh;
  background-color: aquamarine;
}
.link{
  text-decoration: none;
  display: inline;
  padding: 20px;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
}
h1{
  line-height: 100vh;
}