.App {
  text-align: center;
}
.page{
  height: 30px;
}
.page1{
  height: 100vh;
}
.page2{
  height: 100vh;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
}
.page3{
  height: 100vh;
}
.link{
  text-decoration: none;
  display: inline;
  padding: 20px;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
}
h1{
  line-height: 100vh;
}
